@font-face {
	font-family: 'thin_pixel-7'; 
	src: url(thin_pixel-7.ttf); 
}

.hhh {
 width: 50%;
 hieght: 30%;
 font-size: 300%;
}

.xxx {
 hieght: 200%;
 width: 400%;
 left: 40%;
 top: 40%;
 position: fixed;
}


body {    
 background: black;
 autoflow: auto;
}

.b1 {
  background: white;
  border: 5px solid black;
  margin: 0;
  padding: 0%;
  display: inline-block;
  font-family: 'thin_pixel-7';
  color: black;
  line-height: 0.5;
  font-size: 1000%; /*размер шрифта*/
  text-align: center;
  vertical-align: middle;
}

.tx1 {
  font-family: 'thin_pixel-7';
  font-size: 700%;
  color: white;
  position: relative;
}

.tx2 {
  font-family: 'thin_pixel-7';
  font-size: 850%;
  color: white;
  position: relative;
}

.tx3 {
  font-family: 'thin_pixel-7';
  font-size: 550%;
  color: white;
  position: relative;
}

.tx4 {
  font-family: 'thin_pixel-7';
  font-size: 700%;
  color: black;
}  

.ed {
  position: fixed;
  button: 10%;
}

.tb {
  text-align: center;
  background: black;
  border: 5px solid white;
}

.tb1 {
 background: black;
 border: 0px solid black;
}

.br {
font-family: 'thin_pixel-7';
 font-size: 800%;
 text-align: center;
 vertical-align: middle;
 padding: 6%;
}

.inhr {
 background: white;
 height: 70%;
 width: 100%;
 font-family: 'thin_pixel-7';
 font-size: 500%;
}

.sel {
 height: 100%;
 width: 60%;
 font-size: 100%;
}

#output {
 border: 0;
 color: black;
 background: white;
 width: 100%;
 display: inline-block;   
 font-family: 'thin_pixel-7';
 font-size: 700%;
}