@font-face {
	font-family: 'thin_pixel-7'; 
	src: url(thin_pixel-7.ttf); 
}

.hhh {
 width: 50%;
 hieght: 30%;
 font-size: 300%;
}

.xxx {
 hieght: 200%;
 width: 400%;
 left: 40%;
 top: 40%;
 position: fixed;
}


body {    
 background: black; 
}

.b1 {
  background: white;
  border: 5px solid white;
  margin: 0;
  top: 0;
  left: 0;
  position: fixed;
  padding: 6%;
  width: 51%;
  hiegh: 10%;
}

.b2 {
  background: black;
  border: 5px solid White;
  margin: 0;
  right: 0;
  top: 0;
  position: fixed;
  padding: 6%;
  width: 51%;
  hiegh: 10%;
}

.b1-t {
  font-family: 'thin_pixel-7';
  font-size: 600%;
  color: black;
  position: relative;
}

.b2-t {
  font-family: 'thin_pixel-7';
  font-size: 600%;
  color: white;
  position: relative;
}

.tx1 {
  font-family: 'thin_pixel-7';
  font-size: 800%;
  color: white;
  position: relative;
}

.tx2 {
  font-family: 'thin_pixel-7';
  font-size: 250%;
  color: white;
  position: relative;
}

.tx3 {
  font-family: 'thin_pixel-7';
  font-size: 550%;
  color: white;
  position: relative;
}

.tx4 {
  font-family: 'thin_pixel-7';
  font-size: 750%;
  color: white;
  position: relative;
}  

.ed {
  position: fixed;
  button: 10%;
}

.tb {
  width: 100%;
  high: 17%;
  left: 0;
  top: 13%;
  text-align: center;
  background: black;
  border: 5px solid white;
  position: fixed;
}

.tb1 {
 top: 32%;
 right: 10%; 
 background: black;
 border: 5px solid white;
 position: fixed;
}

.tb2 {
 top: 50%;
 right: 0;
 background: black;
 border: 5px solid white;
 position: fixed;
}

.br {
font-family: 'thin_pixel-7';
 font-size: 800%;
 top: 60%;
 position: fixed;
 left: 15%;
 padding: 6%;
 width: 70%;
 hieght: 15%;
}

.inhr {
 background: white;
 width: 100%;
 font-family: 'thin_pixel-7';
 font-size: 500%;
}

.sel {
 hieght: 300%;
 width: 70%;
 font-size: 200%;
}

#output {
 color: black;
 background: white;
 width: 100%;
 font-family: 'thin_pixel-7';
 font-size: 700%;
}